<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chat</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/chat.css">
</head>
<!-- Chatbot Container -->
<div class="chatbot-container">
    <button class="chatbot-toggler">
        <i class="fas fa-comment-dots"></i>
        <i class="fas fa-times"></i>

    </button>
    
    <div class="chatbot">
        <div class="chatbot-header">
            <h3>Assistant Virtuel</h3>
            <span>En ligne</span>
        </div>
        
        <div class="chatbot-messages">
            
        </div>
        
        <div class="chatbot-input">
            <input type="text" placeholder="Tapez votre message...">
            <button class="send-btn">
                <i class="fas fa-paper-plane"></i>
            </button>
        </div>
    </div>
</div>

<script src="/javascripts/chat.js"></script>